body {
  background-image: "../assets/seigaiha.png"
  background-color: steelblue;
  font-family: 'Oswald', sans-serif;
  color: grey;
  display: block;
  justify-content: space-around;

}


h1 {
  color: grey;
}

.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{padding:5px 0px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{padding:5px 0px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-title{font-size:36px;vertical-align:top}
.tg .tg-mission{vertical-align:top}

#header{
  border-top: 1px  solid grey;
}

#main_image{
  margin: 0 auto;
  max-width:1000px;
}

.film_roll{
  width:32%;
  }

.container{
display: flex;
   justify-content: space-around;
   flex-flow: row wrap;

}

.thumbnail{
  width: 80%;
  }


@media only screen and (max-width: 768px) {
  .container{
    flex-direction: column;
       justify-content: center;
  }

  .film_roll{
  width:100%;
  }


  body {
    background: OldLace;
  }
}


