<link rel="stylesheet"  href="/static/css/styles.css">
<div id= header>
<table style="width: 781px; height: 28px; margin-left: auto; margin-right: auto;">
<tbody>
<tr>
<td style="width: 366px;">&nbsp;<h1>_ARCHITEKT</h1></td>
<td style="width: 83px;">&nbsp;</td>
<td style="width: 442px;">&nbsp;Welcome to our online portfolio, we are small group of passionate designers and architects, looking to change and create amazing digital images to inspire others to follow in our innovative steps. Free Architect WordPress Theme</td>
</tr>
</tbody>
</table>
</div>
<div id="main_image"> <img src="http://www.dessign.net/architekttheme/wp-content/uploads/architekt21-959x349.jpg" alt="image" width= "80%"></div>
<div class ="film_roll">
{{#each picture}}
      <a href="/gallery/{{id}}"><img height="100"src="{{link}}" alt="{{description}}"></a>
      <h3>{{author}}</h3>

{{/each}}
</div>






<form action="/gallery/new" method="GET" >
   <input type="submit" value="New Picture">
</form>