<link rel="stylesheet"  href="css/styles.css">
<a href="/user/logout"><button>Log Out</button></a>
<span>Post a new picture:</span>
<hr>
<form action="/gallery" method="post" enctype="application/x-www-form-urlencoded">
  Author:<br>
  <input type="text" name="author"><br>
  Link:<br>
  <input type="text" name="link"><br>
  Description:<br>
  <input type="text" name="description"><br>
  <br><br>
  <input type="submit">
</form>
<a href="/gallery"><button>Back</button></a>
{{#if error}}
  <p>{{error}}</p>
{{/if}}
<hr>