body {
  background-color: white;
  font-family: 'Oswald', sans-serif;
  color: grey; }

h1 {
  color: grey; }

.tg {
  border-collapse: collapse;
  border-spacing: 0;
/*  flex: wrap;*/}

.tg td {
  padding: 5px 0px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal; }

.tg th {
  padding: 5px 0px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal; }

.tg .tg-title {
  font-size: 36px;
  vertical-align: top; }

.tg .tg-mission {
  vertical-align: top; }
